body {
  overflow: hidden;
  min-height: 100vh;
  cursor: crosshair;
  /* crée un curseur type cible */
}

@keyframes anim {
  to {
    top: -250px;
    /* on ne peut pas injecter du JS à une keyframe */
    /* Pour random le left on crée donc une variable : */
    left: var(--left);
    opacity: 1;
    filter: hue-rotate(720deg);
  }
}

.bubble {
  position: absolute;
  border-radius: 300px;
  background: rgba(234, 245, 84, 0.603);
  opacity: 0;
  animation: anim 8s forwards;
  /* ici on a mis forwards pour qu'elle ne disparaisse pas comme ça en haut */
  filter: hue-rotate(0deg);
}

.bubbleBlack {
  position: absolute;
  border-radius: 300px;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  animation: anim 8s forwards;
  /* ici on a mis forwards pour qu'elle ne disparaisse pas comme ça en haut */
}

h3 {
  font-size: 10rem;
  text-align: center;
  margin-top: 20px;
  color: rgba(128, 128, 128, 0.568);
}